.main {
  width: 100%;
  height: calc(100vh - 100px);

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-gutter: stable;
}

.link {
  text-decoration: none;
}

.header {
  width: 100vw;
  height: auto;
  padding: 10px;
  color: aliceblue;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.header h2 {
  font-size: 2em;
  font-weight: 900;
}

.groupForm {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.createGroup {
  z-index: 10;
  width: 100%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.showCreateGroup {
  width: 50%;
  position: relative;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.mainOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.search {
  display: flex;
  margin-right: 10px;
}

.searchIcon {
  display: flex;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  height: 20px;
  width: 20px;
  background-color: rebeccapurple;
  color: aliceblue;
}

.searchbar {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 0px 20px 20px 0px;
  padding: 10px;
  font-weight: 600;
}


.buttons {
  display: flex;
}

.mainOptions button {
  width: 180px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.mainOptions span {
  font-size: 16px;
  padding: 10px;
}

.iconOptions {
  width: 18px;
  height: 18px;
}

.groupsContainer {
  display: grid;
  justify-items: center;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}