.mainContainer {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 100px);

  display: grid;
  padding: 10px;
  grid-template-areas:
    "user templates statistics statistics"
    "user lastEmails lastEmails groups";
  gap: 1em;
}

.user,
.lastEmails,
.statistics,
.groups,
.templates {
  border: 2px solid rgb(106, 90, 205);
  border-radius: 20px;

  padding: 1em;
  color: aliceblue;

  transition: 300ms ease-in-out;
}

.user {
  grid-area: user;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.username {
    font-size: 20px;
    font-weight: 700;
    margin: 1em;
}

.description {
    max-width: 240px;
    max-height: 340px;
    padding: 1em;
    height: auto;
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
}

.lastEmails {
  grid-area: lastEmails;

  display: flex;
  flex-direction: column;

  gap: 1em;
}

.statistics {
  grid-area: statistics;
}

.templates {
  grid-area: templates;
}

.groups {
  grid-area: groups;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.countTitle {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.count {
  font-size: 48px;
  font-weight: 900;
}
