.nav {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100vh;
  background-color: rgb(20, 23, 27);
  box-shadow: 2px 0 rgba(116, 82, 140, 0.6);
}

.header {
  margin: 0 0 10px 0;
  width: 240px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  border-bottom: 1px solid rgb(62, 62, 62);
}

.imgLogo {
  width: 32px;
  height: 32px;
}

.logo {
  font-size: 16px;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  width: 90%;
}

.userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-top: 1px solid rgb(62, 62, 62);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.usermaininfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.useraddress {
  font-size: 12px;
  color: white;
}

.userpfp {
  width: 48px;
  height: 48px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  border-radius: 100%;
}

.buttonclose {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  padding: 10px;
  width: 120px;
  height: 60px;
  color: rgb(255, 255, 255);
  background: none;
  border-radius: 10px;
  border: 1px solid rgb(36, 36, 79);
}

.linkClose {
  text-decoration: none;
}

.buttonclose:hover {
  box-shadow: 3px 4px rgba(195, 195, 195, 0.8);
  color: white;
}

.title {
  width: 200px;
  text-align: left;
  color: white;
  font-size: 20px;
}

.button {
  text-decoration: none;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 40px;
  background-color: rgb(38, 37, 37);
  border: 2px solid rgb(106, 90, 205);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  background-color: rgb(106, 90, 205);
  box-shadow: 3px 4px rgba(195, 195, 195, 0.8);
}

.active {
  background-color: rgb(106, 90, 205);
  border-color: rgb(35, 35, 77);
  color: white;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  color: white;
}

.button span {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
