.container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

.groupForm {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.createGroup {
  z-index: 10;
  width: 100%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.showCreateGroup {
  width: 50%;
  position: absolute;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.main {
  margin: 10px;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  color: white;
}

.mainTitles {
  display: flex;
  flex-direction: column;
}

.mainTitles p {
  font-size: 12px;
  color: white;
}

.mainOptions {
  display: flex;
  flex-direction: row;
  padding-left: 40vw;
}

.mainOptions button {
  width: 180px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.mainOptions span {
  font-size: 16px;
  padding: 10px;
}

.iconOptions {
  width: 18px;
  height: 18px;
}

.systemMain {
  border: 2px solid slateblue;
  border-radius: 10px;
  margin: 10px;
  width: auto;
  height: auto;
}

.mainBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 1px solid rgb(69, 69, 70);
}

.barOptions {
  color: white;
  padding: 20px;
  border-bottom: 3px solid transparent;
}

.mainBar .barOptions:hover {
  border-bottom: 3px solid slateblue;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
  color: white;
}

.searchbar {
  width: 70%;
  height: 30px;
  background-color: rgb(36, 36, 38);
  border: 2px solid slateblue;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  color: white;
}

.searchbar:focus {
  background-color: slateblue;
  border: 2px solid slateblue;
  font-weight: 800;
  color: white;
}

.export {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid rgb(138, 138, 232);
  background-color: aliceblue;
  color: white;
}

.export:hover {
  border: 2px solid rgb(94, 94, 182);
  background-color: rgb(138, 138, 232);
  color: aliceblue;
}

.iconExport {
  width: 18px;
  height: 18px;
}

.groupInfo {
  display: flex;
  flex-direction: row;
  color: white;
  list-style: none;
  border-bottom: 1px solid gray;
}

.groupData {
  width: 250px;
  padding: 10px;
}

.groupInfo .groupData:hover {
  border-bottom: none;
}