.pageContainer {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.page {
  background-image: url("/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(10px);
  z-index: 3;
}

.sections {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}

.navbar ul {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar li {
  margin: 0px 10px;
  padding: 10px;
  font-size: 20px;
  color: aliceblue;
  border-bottom: 2px solid transparent;
}

.navbar li:hover {
  border-bottom: 2px solid rgb(106, 90, 205);
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
}

.contactBox {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.showContactBox {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.titleContainer {
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: transparent;
  background: url("/fondo.jpg") center/cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  filter: brightness(0.9) contrast(1);
  animation: fadeUp 1s ease;
  text-shadow:
    0 0 10px rgba(15, 14, 14, 0.136),
    0 0 10px rgba(35, 35, 77, 0.3),
    0 0 20px rgba(59, 59, 192, 0.2);
}

.title {
  font-size: 18em;
  font-weight: bold;
  text-align: center;
}

.container {
  margin-top: -80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.containerBtns {
  display: flex;
  flex-direction: row;
  animation: fadeUp 1.5s ease;
}

.btnRegister {
  margin: 40px;
  width: 360px;
  height: 40px;
  color: aliceblue;
  font-size: 24px;
  font-weight: bold;
  border: 4px solid salmon;
  border-radius: 10px 0px 10px 0px;
  background: none;
  animation: btnLogin 2s infinite;
}

.btnRegister:hover {
  color: whitesmoke;
  background-color: rgb(250, 128, 114);
  scale: 1.1;
  transition-duration: 400ms;
  animation: btnHover 8s infinite;
}

.btnLogin {
  margin: 40px;
  width: 360px;
  height: 40px;
  color: aliceblue;
  font-size: 24px;
  font-weight: bold;
  border: 4px solid rgb(106, 90, 205);
  border-radius: 10px 0px 10px 0px;
  background: none;
  animation: btnLogin 2s infinite;
}

.btnLogin:hover {
  color: whitesmoke;
  background-color: slateblue;
  scale: 1.1;
  transition-duration: 400ms;
  animation: btnHover 8s infinite;
}

.aboutContainer {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  transition: up 1s ease-in;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes btnLogin {
  0% {
    width: 360px;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

@keyframes btnHover {
  0% {
    width: 360px;
  }

  20% {
    width: 400px;
  }

  50% {
    width: 440px;
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    width: 360px;
  }
}