.data {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 80px;
  margin: 32px 0 0 0;
  padding: 0 0 0 10px;
}

.dataInfo {
  width: 250px;
  color: white;
}

.dataMain {
  width: 250px;
  display: flex;
  flex-direction: row;
}

.dataName {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.groupIcon {
  width: 42px;
  height: 42px;
}

.sub {
  font-size: 12px;
  color: rgb(207, 207, 207);
}

.status {
  align-content: center;
  border-radius: 20px;
  background-color: rgb(22, 163, 71);
  padding: 0 10px;
  font-weight: 800;
  color: white; 
  height: 30px;
  width: 80px;
  text-align: center;
}

.status:hover {
  background-color: rgb(232, 53, 53);
}